@import url(https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
body {
  background: #111;
  color: #fff;
  font-family: "Major Mono Display",monospace;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.section {
  background: #222;
  padding: 20px;
  margin: 20px;
  width: 90%;
  max-width: 500px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  animation: slide-up 0.6s ease-out;
}

input, textarea, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

textarea {
  max-height: 200px;
  overflow-y: auto;
  resize: vertical;
}

button {
  background: #fff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #ccc;
}

a#wppResult {
  word-break: break-all;
  color: #25d366;
  text-decoration: underline;
}

.link-area {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#copyStatus {
  font-size: 0.9em;
  color: #6fcf97;
  margin-top: 5px;
}

/* Animações */
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
